{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <title>Blog Template</title>
    </head>

    <body>
        <!-- header -->
        <header>
            <!-- Add header content here -->
            <nav class="row">
                <div class="col-12">
                    <div class="">
                        <a class="btn" href="#">Home</a>
                        <a class="btn" href="#">Blog</a>
                        <a class="btn" href="#">Archive</a>
                        <a class="btn" href="#">Page</a>
                        <a class="btn" href="#">Shortcodes</a>
                        <a class="btn" href="#">Contact</a>
                    </div>
                </div>
            </nav>
        </header>

        <!-- section -->
        <section>
        </section>

        <!-- footer -->
        <footer>
            <p>© 2016 Copyright 2016, Dot. All Rights Reserved</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"></script>
    </body>

</html>